USE [ManagementDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_account_crud]    Script Date: 08/03/2026 15:44:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[usp_account_crud]
(
    @Action        VARCHAR(20),
 
    @AccountID     VARCHAR(10) = NULL,
    @Branch        VARCHAR(100) = NULL,
    @CustomerName  VARCHAR(100) = NULL,
    @CustomerID    VARCHAR(10) = NULL,
    @AccountType   VARCHAR(20) = NULL,
    @Balance       DECIMAL(18,2) = NULL,
    @Status        VARCHAR(20) = NULL,
    @UserID        VARCHAR(10) = NULL
)
AS
BEGIN
 
SET NOCOUNT ON;
 
BEGIN TRY
 
-----------------------------------------------------
-- CREATE ACCOUNT
-----------------------------------------------------
IF @Action = 'Create'
BEGIN
 
    
 
    SELECT @AccountID =
    'ACC' + RIGHT('000' + CAST(ISNULL(MAX(CAST(SUBSTRING(AccountID,4,10) AS INT)),0) + 1 AS VARCHAR),3)
    FROM t_Account
 
    SELECT @CustomerID =
    'CUS' + RIGHT('000' + CAST(ISNULL(MAX(CAST(SUBSTRING(CustomerID,4,10) AS INT)),0) + 1 AS VARCHAR),3)
    FROM t_Account
 
    INSERT INTO t_Account
    (
        AccountID,
        Branch,
        CustomerName,
        CustomerID,
        AccountType,
        Balance,
        Status,
        CreatedBy,
        CreatedDate
    )
    VALUES
    (
        @AccountID,
        @Branch,
        @CustomerName,
        @CustomerID,
        @AccountType,
        @Balance,
        'Active',
        @UserID,
        GETDATE()
    )
 
    SELECT *
    FROM t_Account
    WHERE AccountID = @AccountID
 
END
 
 
-----------------------------------------------------
-- UPDATE ACCOUNT
-----------------------------------------------------
ELSE IF @Action = 'Update'
BEGIN
 
    UPDATE t_Account
    SET
        Branch       = @Branch,
        CustomerName = @CustomerName,
        AccountType  = @AccountType,
        Status       = @Status,
        ModifiedBy   = @UserID,
        ModifiedDate = GETDATE()
    WHERE AccountID = @AccountID;
 
    IF @@ROWCOUNT = 0
        THROW 50005, 'Account not found.', 1;
 
    SELECT * FROM t_Account WHERE AccountID = @AccountID;
 
END
 
 
-----------------------------------------------------
-- CLOSE ACCOUNT
-----------------------------------------------------
ELSE IF @Action = 'Close'
BEGIN
 
    UPDATE t_Account
    SET
        Status       = 'Closed',
        ModifiedBy   = @UserID,
        ModifiedDate = GETDATE()
    WHERE AccountID = @AccountID;
 
    IF @@ROWCOUNT = 0
        THROW 50006, 'Account not found.', 1;
 
END
 
 
-----------------------------------------------------
-- GET ACCOUNT BY ID
-----------------------------------------------------
ELSE IF @Action = 'GetById'
BEGIN
 
    SELECT *
    FROM t_Account
    WHERE AccountID = @AccountID;
 
END
 
 
-----------------------------------------------------
-- GET ALL ACCOUNTS
-----------------------------------------------------
ELSE IF @Action = 'GetAll'
BEGIN
 
    SELECT *
    FROM t_Account;
 
END
 
 
-----------------------------------------------------
-- INVALID ACTION
-----------------------------------------------------
ELSE
BEGIN
    THROW 50007, 'Invalid Action.', 1;
END
 
END TRY
 
 
BEGIN CATCH
 
    SELECT
        ERROR_NUMBER()   AS ErrorNumber,
        ERROR_MESSAGE()  AS ErrorMessage,
        ERROR_LINE()     AS ErrorLine;
 
END CATCH
 
END
 