USE [ManagementDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_Approval]    Script Date: 08/03/2026 15:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_Approval]
(
    @Action VARCHAR(20),
    @ApprovalId INT = NULL,
    @TransactionID VARCHAR(10) = NULL,
    @ReviewerId VARCHAR(10) = NULL,
    @Decision VARCHAR(20) = NULL,
    @Comments NVARCHAR(500) = NULL
)
AS
BEGIN
 
SET NOCOUNT ON
 
BEGIN TRY
 
------------------------------------------------
-- DECLARE VARIABLES
------------------------------------------------
 
DECLARE @TransactionIDLocal VARCHAR(10)
DECLARE @FromAccountID VARCHAR(10)
DECLARE @ToAccountID VARCHAR(10)
DECLARE @Amount DECIMAL(18,2)
DECLARE @Balance DECIMAL(18,2)
 
------------------------------------------------
-- GET ALL APPROVALS
------------------------------------------------
 
IF @Action='GetAll'
BEGIN
 
SELECT *
FROM t_Approvals
 
END
 
------------------------------------------------
-- GET APPROVAL BY ID
------------------------------------------------
 
ELSE IF @Action='GetById'
BEGIN
 
SELECT *
FROM t_Approvals
WHERE ApprovalID=@ApprovalId
 
END
 
------------------------------------------------
-- APPROVE / REJECT
------------------------------------------------
 
ELSE IF @Action='Update'
BEGIN
 
------------------------------------------------
-- GET TRANSACTION ID
------------------------------------------------
 
SELECT @TransactionIDLocal = TransactionID
FROM t_Approvals
WHERE ApprovalID=@ApprovalId
 
IF @TransactionIDLocal IS NULL
    THROW 50001,'Approval not found',1
 
------------------------------------------------
-- PREVENT DOUBLE APPROVAL
------------------------------------------------
 

 
-- ADD THIS BLOCK HERE
IF EXISTS (
    SELECT 1
    FROM t_Transactions
    WHERE TransactionID = @TransactionIDLocal
    AND Status <> 'Pending'
)
THROW 50001,'Invalid Approval',1
 
 
 
------------------------------------------------
-- APPROVE
------------------------------------------------
  
IF @Decision NOT IN ('Approve','Reject')
    THROW 50001,'Invalid decision',1

IF @Decision='Approve'
BEGIN
 
SELECT
@FromAccountID = FromAccountID,
@ToAccountID = ToAccountID,
@Amount = Amount
FROM t_Transactions
WHERE TransactionID=@TransactionIDLocal
 
IF @FromAccountID IS NULL
    THROW 50003,'Transaction not found',1
 
SELECT @Balance = Balance
FROM t_Account
WHERE AccountID=@FromAccountID
 
IF @Amount > @Balance
    THROW 50004,'Insufficient balance',1
 
------------------------------------------------
-- SAFE MONEY TRANSFER
------------------------------------------------
 
BEGIN TRANSACTION
 
UPDATE t_Account
SET Balance = Balance - @Amount
WHERE AccountID=@FromAccountID
 
UPDATE t_Account
SET Balance = Balance + @Amount
WHERE AccountID=@ToAccountID
 
UPDATE t_Transactions
SET Status='Completed'
WHERE TransactionID=@TransactionIDLocal
 
COMMIT TRANSACTION
 
END
 
------------------------------------------------
-- REJECT
------------------------------------------------
 
ELSE IF @Decision='Reject'
BEGIN
 
UPDATE t_Transactions
SET Status='Rejected'
WHERE TransactionID=@TransactionIDLocal
 
END
 
------------------------------------------------
-- UPDATE APPROVAL TABLE
------------------------------------------------
 
UPDATE t_Approvals
SET
ReviewerID=@ReviewerId,
Decision=@Decision,
Comments=@Comments
WHERE ApprovalID=@ApprovalId
 
END
 
END TRY
 
BEGIN CATCH
 
IF @@TRANCOUNT > 0
ROLLBACK TRANSACTION
 
 
THROW ;
 
END CATCH
 
 
END
 