USE [ManagementDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_Reports_Master]    Script Date: 08/03/2026 15:44:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_Reports_Master]
(
    @Mode NVARCHAR(50),
    @BranchName NVARCHAR(100) = NULL,
    @FromDate DATETIME = NULL,
    @ToDate DATETIME = NULL
)
AS
BEGIN
 
SET NOCOUNT ON;
 
BEGIN TRY
 
    ------------------------------------------------
    -- GENERATE REPORT SNAPSHOT
    ------------------------------------------------
    IF @Mode = 'GENERATE'
    BEGIN
 
        IF @FromDate IS NULL OR @ToDate IS NULL
        BEGIN
            RAISERROR('FromDate and ToDate are required',16,1)
            RETURN
        END
 
        IF @FromDate > @ToDate
        BEGIN
            RAISERROR('FromDate cannot be greater than ToDate',16,1)
            RETURN
        END
 
        ---------------------------------------------
        -- TOTAL TRANSACTIONS
        ---------------------------------------------
        DECLARE @TxCount INT
 
        SELECT @TxCount = COUNT(t.TransactionID)
        FROM t_Transactions t
        INNER JOIN t_Account a
        ON t.FromAccountID = a.AccountID
        WHERE
        (a.Branch = @BranchName OR @BranchName = 'Global' OR @BranchName IS NULL)
        AND t.CreatedDate >= @FromDate
        AND t.CreatedDate < DATEADD(DAY,1,@ToDate)
 
        ---------------------------------------------
        -- HIGH VALUE TRANSACTIONS
        ---------------------------------------------
        DECLARE @HVCount INT
 
        SELECT @HVCount = COUNT(t.TransactionID)
        FROM t_Transactions t
        INNER JOIN t_Account a
        ON t.FromAccountID = a.AccountID
        WHERE
        t.Amount > 100000
        AND (a.Branch = @BranchName OR @BranchName = 'Global' OR @BranchName IS NULL)
        AND t.CreatedDate >= @FromDate
        AND t.CreatedDate < DATEADD(DAY,1,@ToDate)
 
        ---------------------------------------------
        -- ACCOUNT GROWTH
        ---------------------------------------------
        DECLARE @Growth DECIMAL(18,2)
 
        SELECT @Growth = COUNT(*)
        FROM t_Account
        WHERE
        (Branch = @BranchName OR @BranchName='Global' OR @BranchName IS NULL)
        AND CreatedDate >= @FromDate
        AND CreatedDate < DATEADD(DAY,1,@ToDate)
 
        ---------------------------------------------
        -- INSERT REPORT
        ---------------------------------------------
        INSERT INTO t_Reports
        (
            Branch,
            TotalTransactions,
            HighValueCount,
            AccountGrowthRate,
            GeneratedDate
        )
        VALUES
        (
            ISNULL(@BranchName,'Global'),
            ISNULL(@TxCount,0),
            ISNULL(@HVCount,0),
            ISNULL(@Growth,0),
            GETUTCDATE()
        )
 
    END
 
END TRY
 
BEGIN CATCH
 
    DECLARE @ErrorMessage NVARCHAR(4000)
    DECLARE @ErrorSeverity INT
    DECLARE @ErrorState INT
 
    SELECT
        @ErrorMessage = ERROR_MESSAGE(),
        @ErrorSeverity = ERROR_SEVERITY(),
        @ErrorState = ERROR_STATE()
 
    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
 
END CATCH
 
END
 