USE [ManagementDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transaction]    Script Date: 08/03/2026 15:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[usp_Transaction]
(
    @Action VARCHAR(20),
    @TransactionID VARCHAR(10)=NULL,
    @FromAccountID VARCHAR(10)=NULL,
    @ToAccountID VARCHAR(10)=NULL,
    @Type VARCHAR(20)=NULL,
    @Amount DECIMAL(18,2)=NULL,
    @CreatedBy VARCHAR(10)=NULL
)
AS
BEGIN
SET NOCOUNT ON;
 
BEGIN TRY
 
IF @Action='CREATE'
BEGIN
 
-- basic validation
IF @Type NOT IN ('Deposit','Withdraw','Transfer')
    THROW 50001,'Invalid transaction type',1;
 
IF @Amount IS NULL OR @Amount <=0
    THROW 50002,'Amount must be greater than zero',1;
 
DECLARE @NewTransactionID VARCHAR(10)
 
SELECT @NewTransactionID =
'TXN' + RIGHT('000' +
CAST(ISNULL(MAX(CAST(SUBSTRING(TransactionID,4,3) AS INT)),0)+1 AS VARCHAR),3)
FROM t_Transactions
 
------------------------------------------------
-- DEPOSIT
------------------------------------------------
IF @Type='Deposit'
BEGIN
 
IF NOT EXISTS
(
SELECT 1 FROM t_Account 
WHERE AccountID=@FromAccountID AND Status='Active'
)
THROW 50003,'Invalid account',1;
 
UPDATE t_Account
SET Balance = Balance + @Amount
WHERE AccountID=@FromAccountID
 
INSERT INTO t_Transactions
(TransactionID,FromAccountID,Type,Amount,Status,CreatedBy)
VALUES
(@NewTransactionID,@FromAccountID,'Deposit',@Amount,'Completed',@CreatedBy)
 
END
 
------------------------------------------------
-- WITHDRAW
------------------------------------------------
ELSE IF @Type = 'Withdraw'
BEGIN
 
    DECLARE @Balance DECIMAL(18,2)
 
    SELECT @Balance = Balance
    FROM t_Account
    WHERE AccountID = @FromAccountID AND Status='Active'
 
    IF @Balance IS NULL
        THROW 50010, 'Account not found or inactive', 1
 
    -- Balance validation
    IF @Amount > @Balance
        THROW 50011, 'Insufficient balance', 1
 
    -- Deduct balance
    UPDATE t_Account
    SET Balance = Balance - @Amount
    WHERE AccountID = @FromAccountID
 
    -- Insert transaction
    INSERT INTO t_Transactions
    (
        TransactionID,
        FromAccountID,
        Type,
        Amount,
        Status,
        CreatedBy
    )
    VALUES
    (
        @NewTransactionID,
        @FromAccountID,
        'Withdraw',
        @Amount,
        'Completed',
        @CreatedBy
    )
 
END
 
 
------------------------------------------------
-- TRANSFER
------------------------------------------------
ELSE IF @Type = 'Transfer'
BEGIN
 
    IF @FromAccountID = @ToAccountID
        THROW 50012, 'Cannot transfer to same account', 1
 
  
 
    SELECT @Balance = Balance
    FROM t_Account
    WHERE AccountID = @FromAccountID AND Status='Active'
 
    IF @Balance IS NULL
        THROW 50013, 'From account not found or inactive', 1
 
    IF NOT EXISTS (SELECT 1 FROM t_Account WHERE AccountID=@ToAccountID AND Status='Active')
        THROW 50014, 'To account not found or inactive', 1
 
    -- Balance validation
    IF @Amount > @Balance
        THROW 50015, 'Insufficient balance for transfer', 1
 
    -- High value transfer (>1 lakh)
    IF @Amount > 100000
    BEGIN
 
        INSERT INTO t_Transactions
        (
            TransactionID,
            FromAccountID,
            ToAccountID,
            Type,
            Amount,
            Status,
            CreatedBy
        )
        VALUES
        (
            @NewTransactionID,
            @FromAccountID,
            @ToAccountID,
            'Transfer',
            @Amount,
            'Pending',
            @CreatedBy
        )
 
        INSERT INTO t_Approvals(TransactionID)
        VALUES(@NewTransactionID)
 
    END
    ELSE
    BEGIN
 
        UPDATE t_Account
        SET Balance = Balance - @Amount
        WHERE AccountID = @FromAccountID
 
        UPDATE t_Account
        SET Balance = Balance + @Amount
        WHERE AccountID = @ToAccountID
 
        INSERT INTO t_Transactions
        (
            TransactionID,
            FromAccountID,
            ToAccountID,
            Type,
            Amount,
            Status,
            CreatedBy
        )
        VALUES
        (
            @NewTransactionID,
            @FromAccountID,
            @ToAccountID,
            'Transfer',
            @Amount,
            'Completed',
            @CreatedBy
        )
 
    END
 
END
 
END
 
ELSE IF @Action='GETALL'
BEGIN
SELECT * FROM t_Transactions
END
 
ELSE IF @Action='GETBYID'
BEGIN
SELECT * FROM t_Transactions WHERE TransactionID=@TransactionID
END
 
END TRY
 
BEGIN CATCH
SELECT
ERROR_NUMBER() AS ErrorNumber,
ERROR_MESSAGE() AS ErrorMessage,
ERROR_LINE() AS ErrorLine
END CATCH
 
END
 