USE [ManagementDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_user_audit]    Script Date: 08/03/2026 15:43:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[usp_user_audit]
(
    @UserID VARCHAR(10),
    @Action VARCHAR(50),
    @OldValue NVARCHAR(MAX) = NULL,
    @NewValue NVARCHAR(MAX) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
 
    BEGIN TRY
 
        INSERT INTO t_UserAudit
        (
            UserID,
            Action,
            OldValue,
            NewValue,
            ActionDate
        )
        VALUES
        (
            @UserID,
            @Action,
            @OldValue,
            @NewValue,
            GETDATE()
        )
 
        SELECT 'AUDIT_LOGGED'
 
    END TRY
 
    BEGIN CATCH
 
        SELECT
            ERROR_NUMBER() AS ErrorNumber,
            ERROR_MESSAGE() AS ErrorMessage,
            ERROR_LINE() AS ErrorLine
 
    END CATCH
END
 