USE [ManagementDB]
GO
/****** Object:  StoredProcedure [dbo].[usp_user_crud]    Script Date: 08/03/2026 15:41:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[usp_user_crud]
(
    @Action VARCHAR(20),
 
    @UserID VARCHAR(10) = NULL,
    @Name VARCHAR(100) = NULL,
    @Email VARCHAR(100) = NULL,
    @PasswordHash VARCHAR(255) = NULL,
    @RoleID VARCHAR(10) = NULL,
    @Branch VARCHAR(100) = NULL,
    @Status VARCHAR(20) = NULL,
    @RefreshToken VARCHAR(255) = NULL,
    @CreatedBy VARCHAR(10) = NULL,
    @ModifiedBy VARCHAR(10) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
 
    BEGIN TRY
 
    -------------------------------------------------
    -- 1 FIRST ADMIN
    -------------------------------------------------
    IF @Action='FIRST_ADMIN'
    BEGIN
        IF EXISTS (SELECT 1 FROM t_User WHERE RoleID='ADM')
        BEGIN
            SELECT 'ADMIN_EXISTS' AS Result
            RETURN
        END
 
        DECLARE @NextID VARCHAR(10)
 
        SELECT @NextID =
        'USR' +
        RIGHT('000' +
        CAST(ISNULL(MAX(CAST(SUBSTRING(UserID,4,3) AS INT)),0)+1 AS VARCHAR),3)
        FROM t_User
 
        INSERT INTO t_User
        (
            UserID, Name, Email, PasswordHash, RoleID, Branch, Status, CreatedBy
        )
        VALUES
        (
            @NextID, @Name, @Email, @PasswordHash, 'ADM', @Branch, 'Active', NULL
        )
 
        SELECT 'SUCCESS' AS Result
    END
 
 
    -------------------------------------------------
    -- 2 LOGIN
    -------------------------------------------------
    IF @Action='LOGIN'
    BEGIN
        SELECT 
            u.UserID,
            u.PasswordHash,
            r.RoleName
        FROM t_User u
        JOIN t_Role r ON u.RoleID=r.RoleID
        WHERE u.Email=@Email
        AND u.Status='Active'
    END
 
 
    -------------------------------------------------
    -- 3 SAVE REFRESH TOKEN
    -------------------------------------------------
    IF @Action='SAVE_REFRESH'
    BEGIN
        UPDATE t_User
        SET RefreshToken=@RefreshToken
        WHERE UserID=@UserID
 
        SELECT 'TOKEN_SAVED'
    END
 
 
    -------------------------------------------------
    -- 4 LOGOUT
    -------------------------------------------------
    IF @Action='LOGOUT'
    BEGIN
        UPDATE t_User
        SET RefreshToken=NULL
        WHERE RefreshToken=@RefreshToken
 
        SELECT 'LOGOUT_SUCCESS'
    END
 
 
    -------------------------------------------------
    -- 5 CREATE USER
    -------------------------------------------------
    IF @Action = 'CREATE'
BEGIN
 
    -- Validate gmail only
    IF @Email NOT LIKE '%@gmail.com'
    BEGIN
        SELECT 'INVALID_EMAIL' AS Result
        RETURN
    END
 
    -- Email exists check
    IF EXISTS (SELECT 1 FROM t_User WHERE Email = @Email)
    BEGIN
        SELECT 'EMAIL_EXISTS' AS Result
        RETURN
    END
 
    DECLARE @NextID1 VARCHAR(10)
 
    SELECT @NextID1 =
    'USR' +
    RIGHT('000' +
    CAST(ISNULL(MAX(CAST(SUBSTRING(UserID,4,3) AS INT)),0)+1 AS VARCHAR),3)
    FROM t_User
 
 
    INSERT INTO t_User
    (
        UserID,
        Name,
        Email,
        PasswordHash,
        RoleID,
        Branch,
        Status,
        CreatedBy
    )
    VALUES
    (
        @NextID1,
        @Name,
        @Email,
        @PasswordHash,
        @RoleID,
        @Branch,
        'Active',
        @CreatedBy
    )
 
    SELECT 'SUCCESS' AS Result
END
 
 
 
    -------------------------------------------------
    -- 6 GET USERS
    -------------------------------------------------
    IF @Action='GET'
    BEGIN
        SELECT
            u.UserID,
            u.Name,
            u.Email,
            r.RoleName,
            u.Branch,
            u.Status,
            u.CreatedDate,
            u.ModifiedDate
        FROM t_User u
        JOIN t_Role r ON u.RoleID=r.RoleID
        WHERE
        (@UserID IS NULL OR u.UserID=@UserID)
        AND (@RoleID IS NULL OR u.RoleID=@RoleID)
        AND (@Branch IS NULL OR u.Branch=@Branch)
        AND (@Status IS NULL OR u.Status=@Status)
    END
 
 
    -------------------------------------------------
    -- 7 UPDATE USER
    -------------------------------------------------
    IF @Action='UPDATE'
    BEGIN
        UPDATE t_User
        SET
            Name=@Name,
            Branch=@Branch,
            ModifiedBy=@ModifiedBy,
            ModifiedDate=GETDATE()
        WHERE UserID=@UserID
 
        SELECT 'USER_UPDATED'
    END
 
 
    -------------------------------------------------
    -- 8 UPDATE STATUS
    -------------------------------------------------
    IF @Action='STATUS'
    BEGIN
        UPDATE t_User
        SET
            Status=@Status,
            ModifiedBy=@ModifiedBy,
            ModifiedDate=GETDATE()
        WHERE UserID=@UserID
 
        SELECT 'STATUS_UPDATED'
    END
 
    END TRY
 
    BEGIN CATCH
 
        SELECT
            ERROR_NUMBER() AS ErrorNumber,
            ERROR_MESSAGE() AS ErrorMessage,
            ERROR_LINE() AS ErrorLine
 
    END CATCH
END
 